.env
.env.*

!.env.example

node_modules
**/node_modules

dist
**/dist

.next
**/.next

coverage
**/coverage

.vitest
**/.vitest

.git
.gitignore

*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

.DS_Store
.vscode
.idea

docker-compose.override.yml

tmp
temp
*.tmp